body {
    background-color: #FFF3EA;
    margin-top : 20px;
    margin-left : 25% ;
    margin-right : 25% ;
}
#cookieimg {
    height: 269px;
    width: 262px;
    background-color: #FFF3EA;
    padding : 0px;
}

#cookie {
    padding : 0px;
    border: none;
}

#doubler {
    height: 80px;
    width: 75px;
    background-color: #EFA35A;
    padding : 0px;
}

#x2 {
    padding : 0px;
    margin : 0px;
    border: none;
    background-color: #EFA35A;
}

#auto {
    height: 80px;
    width: 75px;
    background-color: #EFA35A;
    padding : 0px;
}

#autoclick {
    padding : 0px;
    margin : 0px;
    border: none;
    background-color: #EFA35A;
}

.shopbox {
    background-color: #EFA35A;
}

.row {}

#jar {
    padding : 0px;
    margin : 0px;
    border: none;
    background-color: #EFA35A;
}

#cookiejar {
    height: 80px;
    width: 75px;
    background-color: #EFA35A;
    padding : 0px;
}

#titlecookie {
    height : 40px;
    width: 40px;
}

h1 {
        font-family: "Ingrid Darling", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
      }
      
